body {
    background-color: rgb(0, 38, 255);
    width: 100vw;  /* Full viewport width */
    height: 100vh; /* Full viewport height */
    margin: 0;  /* Removes default margins */
    overflow-x: hidden; /* Prevents horizontal scrolling */
}
